@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: Montserrat;
}

.game-btn-shadow {
  box-shadow: 0 0 15px rgba(1, 227, 117, 0.8);
  transition: box-shadow 0.2s;
}
.game-btn-shadow:hover {
  box-shadow: 0 0 20px rgb(1, 227, 117);
}
.hover-sidebar-shadow:hover {
  box-shadow: 0 0 15px rgba(1, 227, 117, 0.8);
}
.sidebar-shadow {
  box-shadow: 0 0 15px rgba(1, 227, 117, 0.8);
}
.sidebar-transition {
  transition: all 0.7s ease-in-out;
}
.sidebar-shadow:hover {
  box-shadow: 0 0 15px rgba(1, 227, 117, 0.8);
}
.auth-screen {
  box-shadow: 0 0 15px #edf1fa;
}
.input-shadow {
  box-shadow: 0 0 8px #edf1fa;
}
.form-btn-shadow {
  box-shadow: 0 0 10px rgba(1, 227, 117, 0.8);
}

/* slider animations */

.slider-overlay-transition {
  transition: all 0.7s ease-in-out;
}

.slider-transition {
  transition: all 0.7s ease-in-out;
}

/* checkbox */
input[type="checkbox"].appearance-none:checked {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='%2301e375' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.gray-shadow{
  box-shadow: 0 0 15px rgba(138, 138, 138, 0.8);
}

.card-shadow{
  box-shadow: 0 0 5px rgba(138, 138, 138, 0.8);
}